body {
    background-image: url("/assets/BoxStats_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    font-family: ars-maquette-web, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .left-header{
    font-family: 'Goblin One', cursive;
    font-size: 70px;
    margin-left: auto;
    margin-top: 0.8rem;
}

header .right-header{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#github{
    height: 60px;
    margin-top: 3px;
    margin-right: 10px;
}

#linkedin{
    height: 35px;
    margin-top: 5px;
    margin-right: 10px;
}

#angellist{
    height: 55px;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
}

#portfolio{
    height: 65px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: 15px;
}

#fighter-list{
    list-style: none;
    height: 700px;
    width: 360px;
    margin-top: 2vh;
    margin-left: 2vw;
    overflow:auto;
    overflow-x: hidden;
    padding:0;
    border: 1px solid rgba(255, 255, 255, 0.500);
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }

#fighter-list li{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: -5px;
    cursor: pointer;
}

#fighter-list{
    margin-right: 0;
}

#profile{
    margin-left: 3vw;
    margin-top: 5vh;
    width: 400px;
    color: white;
    text-align: center;
}

#profile img{
    border: solid 0.5px rgb(175, 175, 175);
    border-radius: 5px;
}

#profile p{
    margin-top: 1vh;
    font-weight: 600;
}


.click-info svg{
    background: rgb(236, 236, 236);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5vh;
}

.click-info2 svg{
    background: rgb(236, 236, 236);
    border-radius: 5px;
    margin-left: 9px;
    margin-top: 10px;
}

.dropdowns{
    margin-top: 2vh;
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
}

g .tick{
    font-size: 14px;
}

#top-half{
    display: flex;
    flex-direction: row;
}

.click-info{
    display: flex;
    flex-direction: row;
}

#career-bars-chart{
    margin-left: 8vw;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
}

.modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0, 0, 0, 0.700);
}

.modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background-image: url("/assets/BoxStats_modal.jpg");
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    border-radius: 4px;
    width: 520px;
    text-align: center;
}

.modal .modal_content > h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0 40px;
    text-align: center;
}

.modal .modal_content #terms {
    margin-top: 20px;
    font-style: italic;
}

.modal .modal_content .buttons_wrapper {
    padding: 20px;
}

.modal .close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: white;
    opacity: 0.5;
    background: none;
    border: none;
}

.modal .close_modal:hover {
    opacity: 0.9;
}