body {
    background-image: url("/assets/BoxStats_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .left-header{
    font-family: 'Goblin One', cursive;
    font-size: 70px;
    margin-left: auto;
    margin-top: 0.8rem;
}

header .right-header{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#github{
    height: 60px;
    margin-top: 3px;
    margin-right: 10px;
}

#linkedin{
    height: 35px;
    margin-top: 5px;
    margin-right: 10px;
}

#angellist{
    height: 55px;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
}

#portfolio{
    height: 65px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: 15px;
}

#fighter-list{
    list-style: none;
    height: 700px;
    width: 360px;
    margin-top: 2vh;
    margin-left: 2vw;
    overflow:auto;
    overflow-x: hidden;
    padding:0;
    border: 1px solid rgba(255, 255, 255, 0.500);
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }

#fighter-list li{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: -5px;
    cursor: pointer;
}

#fighter-list{
    margin-right: 0;
}

#profile{
    margin-left: 3vw;
    margin-top: 5vh;
    width: 400px;
    color: white;
    text-align: center;
}

#profile img{
    border: solid 0.5px rgb(175, 175, 175);
    border-radius: 5px;
}

#profile p{
    margin-top: 1vh;
    font-weight: 600;
}


.click-info svg{
    background: rgb(236, 236, 236);
    border-radius: 5px;
    margin-left: 9px;
    margin-top: 10px;
}

.click-info2 svg{
    background: rgb(236, 236, 236);
    border-radius: 5px;
    margin-left: 9px;
    margin-top: 10px;
}

.dropdowns{
    margin-top: 2vh;
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
}

g .tick{
    font-size: 14px;
}

#top-half{
    display: flex;
    flex-direction: row;
}

.click-info{
    display: flex;
    flex-direction: row;
}

#career-bars-chart{
    margin-left: 8vw;
}