body {
    background-image: url("/assets/BoxStats_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .left-header{
    font-family: 'Goblin One', cursive;
    font-size: 70px;
    margin-left: auto;
    margin-top: 0.8rem;
}

header .right-header{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#github{
    height: 60px;
    margin-top: 3px;
    margin-right: 10px;
}

#linkedin{
    height: 35px;
    margin-top: 5px;
    margin-right: 10px;
}

#angellist{
    height: 55px;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
}

#portfolio{
    height: 65px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: 15px;
}

#fighter-list{
    list-style: none;
    height: 75vh;
    width: 17vw;
    margin-top: 5vh;
    margin-left: 2vw;
    overflow:auto;
    overflow-x: hidden;
    padding:0;
    border: 1px solid rgba(255, 255, 255, 0.500);
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }

#fighter-list li{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 1.75vw;
    margin-left: 40px;
    margin-bottom: -10px;
    cursor: pointer;
}

#fighter-list{
    margin-right: 0;
}

#profile{
    margin: auto;
    width: 400px;
    color: white;
    text-align: center;
}

#profile p{
    font-weight: 600;
}


#recent-bars svg{
    background: whitesmoke;
    border-radius: 5px;
    margin-left: 9px;
    margin-top: 10px;
}

g .tick{
    font-size: 14px;
}

#top-half{
    display: flex;
    flex-direction: row;
}